@import './base.css';

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

html {
  height: 100%;
  font-size: 12px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f0f3f8;
  /* color: #151515; */
  height: 100%;
  width: 100%;
  text-align: center;
  overflow-y: hidden;
}
